aiosmtpd==1.4.6
asgiref==3.8.1
atpublic==4.1.0
attrs==23.2.0
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.0.7
django-extensions==3.2.3
idna==3.7
loguru==0.7.2
python-dotenv==1.0.1
requests==2.32.3
sqlparse==0.5.1
urllib3==2.2.2
websocket-client==1.8.0
